$netflix-red: #E50914;

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body{
  background-color: #000000;
}

h1{
  color: $netflix-red;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 1rem;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transition: 0.3s;
    width: 100%;
    cursor: pointer;

    &:hover {
      filter: invert(80%);
    }
  }
}

.toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.toggles div {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

input[type="checkbox"] {
  /* Oculta el checkbox */
  opacity: 0;
  width: 0;
  height: 0;

  /* Añade el toggle */
  + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;

    /* Añade la columna a la derecha */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    text-align: left; /* Alinea el texto del label a la izquierda */
  }

  /* Añade el interruptor */
  + label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 30px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;

    /* Añade la columna a la izquierda */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }

  /* Añade el indicador */
  + label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: left 0.2s;
  }

  &:checked {
    + label:before {
      background-color: $netflix-red;
    }
  
    + label:after {
      left: 28px;
    }
  }
}